doctype html
html
    head
        title Fingerprint
        style.
            table{
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
                max-width: 100%;
                overflow-x: auto;

            }
            th,td{
                text-align: left;
                padding: 8px;
                word-wrap: break-word;
            }
            tr:nth-child(even) {
                background-color:#D6EEEE;
            }
            thead { background-color:lightblue; }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
            }

            li {
            float: left;
            }

            li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }

            li a:hover {
            background-color: #111;
            }
            .active {
                background-color: #04AA6D;
            }
        script.
            setTimeout(function(){
                location.reload();
            }, 5000); 

    body
        nav
            ul
                li
                    a(href="http://localhost:4000/status") Fingerprint Data
                li
                    a(class="active", href="http://localhost:4000/error") Error Message
        
        br
        br
        
        table(border="1") 
            thead 
                tr 
                    th(style="text-align:left") No 
                    th Time
                    th Operation
            each value, index in jadeargument["errMessage"]
                tr 
                    td=index+1
                    td=jadeargument["errMessage"][index]["time"]
                    td=jadeargument["errMessage"][index]["operation"]
        br
