doctype html
html
    head
        title Fingerprint
        style.
            table{
                border-collapse: collapse;
                width: 1000px;
            }
            th,td{
                text-align: left;
                padding: 8px;
                
            }
            tr:nth-child(even) {
                background-color:#D6EEEE;
            }
            thead { background-color:lightblue; }

    body
        H1(style="text-align:left") Error Message

    
        p=jadeargument
        
        