doctype html
html
    head
        title Fingerprint
        style.
            form{
                text-align: center;
            }
            button{
                padding: 8px 20px;
                width:225px;
                font-size:14px;
                border-radius:6px;
                background: #DCDCDC
            }
            
            input:hover,
            input:focus { 
                background-color: #16437E;
                color: #ffffff;
            }

            input:active {
                background: #09223b;
                color: rgb(255, 255, 255, .7);
            }

            input:disabled { 
                cursor: not-allowed;
                background: rgba(0, 0, 0, .08);
                color: rgba(0, 0, 0, .3);
            }
            
            table{
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
                max-width: 100%;
                overflow-x: auto;
            }
            th,td{
                text-align: left;
                padding: 8px;
                word-wrap: break-word;
            }
            tr:nth-child(even) {
                background-color:#D6EEEE;
            }
            thead { background-color:#D6EEEE; }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #111;
            }
            .active {
                background-color: #04AA6D;
            }
            .hidden {
                display: none;
            }
            .text-center {
                text-align: center;
            }
            .button-container {
                display: flex;
                align-items: center;
                flex-direction:column;
            }

        




    body
        nav
            ul
                li
                    a(class="active", href="http://localhost:4000/status") Fingerprint Data
                li
                    a(href="http://localhost:4000/error") Error Message
        br
        br
        
        table(border="1") 
            thead 
                tr 
                    th(style="text-align:left") No 
                    th Registered Date
                    th Type 
                    th Vendor
            each value, index in jadeargument["dataSet1"]
                tr 
                    td=index+1
                    td=jadeargument["dataSet1"][index]["registeredDate"]
                    td=jadeargument["dataSet1"][index]["operation"]
                    td=jadeargument["dataSet1"][index]["vendor"]

        

        br
        br
        
        //- form(method='post', style='margin-bottom:5px', action='#')
        //-     input(type='submit', value='Initialize scanner', id="openButton", onclick="myFunction()")
        //-     input(type='hidden', name='submitValue', value='INITIALIZE_DEVICE')  
        
        //- form(method='post', style='margin-bottom:5px', action='#', )
        //-     input(type='submit',value='Register fingerprint', style="display:none")
        //-     input(type='hidden',name='submitValue', value='ENROLL_FINGERPRINT')
            
        //- form(method='post', style='margin-bottom:5px', action='#' )
        //-     input(type='submit',value='Verify fingerprint', style="display:none")
        //-     input(type='hidden',name='submitValue', value='VERIFY_FINGEPRRINT')
                
        //- form(method='post', style='margin-bottom:5px', action='#')
        //-     input(type='submit', value='Close scanner')
        //-     input(type='hidden', name='submitValue', value='CLOSE_DEVICE') 
        //- form(action="http://localhost:4000/status" method="POST")
        div(class="text-center")
            button(id="openDeviceBtn") Open Device
        br    
        div(class="button-container")
            button(id="registerBtn" style="display:none;" class="text-center") Register Fingerprint
            br
            button(id="verifyBtn" style="display:none;" class="text-center") Verify Fingerprint
            br
            button(id="closeBtn" style="display:none;" class="text-center") Close Device

            

        script.
            // get references to buttons
            const openDeviceBtn = document.getElementById('openDeviceBtn');
            const registerBtn = document.getElementById('registerBtn');
            const verifyBtn = document.getElementById('verifyBtn');
            const closeBtn = document.getElementById('closeBtn');

            // show and hide buttons on click events
            openDeviceBtn.addEventListener('click', function() {
                // show register and verify buttons
                registerBtn.style.display = 'block';
                verifyBtn.style.display = 'block';
                // hide open device button
                openDeviceBtn.style.display = 'none';
                // show close button
                closeBtn.style.display = 'block';
            });

            closeBtn.addEventListener('click', function() {
                // hide register and verify buttons
                registerBtn.style.display = 'none';
                verifyBtn.style.display = 'none';
                // hide close button
                closeBtn.style.display = 'none';
                // show open device button
                openDeviceBtn.style.display = 'inline';
            });

            
            //- registerBtn.addEventListener("click", () => {
            //-     const xhr = new XMLHttpRequest();
            //-     xhr.open('GET', 'http://localhost:4000/fileNum', true);
            //-     //- xhr.setRequestHeader('Content-Type', 'application/json');
            //-     xhr.onload = function() {
            //-         if (xhr.status === 200) {
            //-         // Handle response
            //-         console.log(xhr.responseText);
            //-         } else {
            //-         // Handle error
            //-         console.error(xhr.statusText);
            //-         }
            //-     };
            //-     xhr.send();
            //- });
            document.querySelector('#openDeviceBtn').addEventListener('click', () => {
                //- event.preventDefault();
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                    // Handle response
                    console.log(xhr.responseText);
                    } else {
                    // Handle error
                    console.error(xhr.statusText);
                    }
                };
                xhr.send(JSON.stringify({submitValue: 'INITIALIZE_DEVICE'}));
            });
            document.querySelector('#registerBtn').addEventListener('click', () => {
                verifyBtn.disabled = true;
                alert("Start Verify");
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                    // Handle response
                    console.log(xhr.responseText);
                    } else {
                    // Handle error
                    console.error(xhr.statusText);
                    }
                };
                xhr.send(JSON.stringify({submitValue: 'ENROLL_FINGERPRINT'}));
            });
            document.querySelector('#verifyBtn').addEventListener('click', () => {
                alert("Start Verify");
                //- event.preventDefault();
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                    // Handle response
                    console.log(xhr.responseText);
                    } else {
                    // Handle error
                    console.error(xhr.statusText);
                    }
                };
                xhr.send(JSON.stringify({submitValue: 'VERIFY_FINGERPRINT'}));
            });
            document.querySelector('#closeBtn').addEventListener('click', () => {
                verifyBtn.disabled = false;
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:4000/status');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                    // Handle response
                    console.log(xhr.responseText);
                    } else {
                    // Handle error
                    console.error(xhr.statusText);
                    }
                };
                xhr.send(JSON.stringify({submitValue: 'CLOSE_DEVICE'}));
            });



